<!DOCTYPE html>
<html>

<head>
    <script>{{ .Script }}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        :root {
            --light-green: #3B8C6E;
            /*--dark-green: #27592F;*/
            --jade: #00bd71;
            --soft-orange: #F2A25C;
            --soft-brown: #A6653F;
            --soft-red: #A63232;
        }

        #page-title {
            text-align: center;
            padding: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            color: var(--jade);
            border: none;
            font-weight: lighter;
            font-size: 40pt;
        }
        @media only screen and (max-width: 600px) {
           #page-title {
                font-size: 20pt;
           } 
           h2 {
                font-size: 15pt;
           }

        }
        h2 {
            text-align: center;
            padding: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            color: var(--jade);
            border: none;
            font-weight: lighter;
            font-size: 25pt;
            grid-column: 2;
        }

        body {
            margin: 0;
            padding: 0;
            background: #333333;
            font-family: Arial, sans-serif;
            font-weight: light;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .flex-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: min(80%, 40rem);
        }

        .search {
            justify-content: center;
            align-items: center;
            display: flex;
        }

        .search input[type="text"] {
            padding: 1rem;
            border: none;
            border-radius: 1rem;
            background: var(--jade);
            font-size: 14pt;
            width: min(80%, 40rem);
            margin: auto;
            display:block;
        }
        
        ::placeholder {
            color: rgb(90,90,90);
        }

        .search input[type="text"]:focus {
            outline:none;
        }

        .search button[type="submit"] {
            text-align: center;
            padding: 1rem;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background: var(--jade);
            border: none;
            border-radius: 1rem;
            font-size: 14pt;
            margin: 1rem;
            display: flex;
        }

        .search label {
           color: var(--jade);
           font-size: 16pt;
        }

        .search select {
            -webkit-appearance: none;
            -moz-appearance: none; 
            appearance: none;
            text-align: center;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 2rem;
            background: var(--jade);
            border: none;
            border-radius: 1rem;
            font-size: 14pt;
            margin: 1rem;
            display: flex;
            background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"><path d="M0 0l5 6 5-6z" fill="%23333"/></svg>');
            background-repeat: no-repeat;
            background-position: right 10px center;
            background-size: 12px;
        }
        .search select:focus {
            border: none;
            outline: none;
        }

        .video-container {
            display: grid;
            grid-template-columns: auto min(90%, 30rem) auto;
        }

        .video-card {
            grid-column: 2;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 0.7rem;
            background: var(--jade);
            transition: box-shadow 0.3s ease;
        }

        .video-card:hover {
           box-shadow:
              0 1px 1px hsl(0deg 0% 0% / 0.075),
              0 2px 2px hsl(0deg 0% 0% / 0.075),
              0 4px 4px hsl(0deg 0% 0% / 0.075),
              0 8px 8px hsl(0deg 0% 0% / 0.075),
              0 16px 16px hsl(0deg 0% 0% / 0.075)
            ;
        }

        .thumbnail {
            border-radius: 0.7rem;
            width: 100%;
        }

        .video-title {
            font-size: 15pt;
            padding: 1rem;
            padding-bottom: 0;
            margin: 0;
        }

        .video-description {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 8rem;
        }
        footer {
            background: var(--jade);
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: 3rem;
            position: absolute;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            color: black;
        }
        footer p {
            margin: 0.8rem;
        }
        #page-contianer {
            position: relative;
            min-height: 100vh;
        }
        #content-wrap{
            padding-bottom: 5rem; /* footer height plus a little */
        }
        b {}
    </style>
</head>
<script>
function updateUrlWithState(state) {
    const url = new URL(window.location.href);
    // Add state data as query parameters
    Object.keys(state).forEach(key => {
        url.searchParams.set(key, state[key]);
    });
    history.pushState({}, '', url); // Updates the URL without reloading
}
</script>
<body>
<div id="page-contianer">
    <h1 id="page-title">
        Vlogbrothers Search Engine
    </h1>
    <div id="content-wrap">
        <div class="search">
            <form 
                hx-get="/videos"
                hx-target="#video-container"
                hx-on:submit="updateUrlWithState({search: document.getElementById('search-bar').value, sorting: document.getElementById('sorting').value})"
            >
                <input id="search-bar" type="text" name="search" placeholder="Search Vlogbrothers Youtube Channel">
                <div class="flex-container">
                <label for="sorting">Sort by:</label>
                <select name="sorting" id="sorting">
                    <option value="relevance">Relevance</option>
                    <option value="newest">Newest first</option>
                    <option value="oldest">Oldest first</option>
                </select>
                <button type="submit">
                    Search
                </button>
                </div>
            </form>
        </div>
        <div class="video-container" id="video-container">
            {{ .Videos }}
        </div>
    </div>
    <footer>
        <p style="grid-column=1;">j.dallacqua1@gmail.com</p>
        <p style="grid-column=2;"></p>
        <p style="grid-column=3;">For Jade</p>
    </footer>
</div>
</body>
</html>
