<!DOCTYPE html>
<html>

<head>
    <script>{{ . }}</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        :root {
            --light-green: #3B8C6E;
            --dark-green: #27592F;
            --soft-orange: #F2A25C;
            --soft-brown: #A6653F;
            --soft-red: #A63232;
        }

        #page-title {
            text-align: center;
            padding: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            color: var(--dark-green);
            border: none;
            font-weight: lighter;
            font-size: 40pt;
        }
        h2 {
            text-align: center;
            padding: 2rem;
            margin: 0;
            margin-bottom: 0.5rem;
            color: var(--dark-green);
            border: none;
            font-weight: lighter;
            font-size: 30pt;
            grid-column: 2;
        }

        body {
            margin: 0;
            padding: 0;
            background: #333333;
            font-family: Arial, sans-serif;
            font-weight: light;
        }

        .search {
            justify-content: center;
            align-items: center;
        }

        .search input[type="text"] {
            padding: 0.3rem;
            border: none;
            border-radius: 0.2rem;
            background: var(--dark-green);
            font-size: 14pt;
            width: min(90%, 40rem);
            margin: auto;
            display:block;
        }

        .search input[type="text"]:focus {
            outline:none;
        }

        .search button[type="submit"] {
            padding-top: 0.3rem;
            padding-bottom: 0.3rem;
            padding-left; 0.5rem;
            padding-right; 0.5rem;
            background: var(--dark-green);
            border: none;
            border-radius: 0.2rem;
            font-size: 14pt;
            margin: auto;
            margin-top: 1rem;
            display: block;
        }

        .video-container {
            display: grid;
            grid-template-columns: auto min(90%, 30rem) auto;
        }

        .video-card {
            grid-column: 2;
            margin-top: 1rem;
            padding: 1rem;
            border-radius: 0.7rem;
            background: var(--dark-green);
        }

        .thumbnail {
            border-radius: 0.7rem;
            width: 100%;
        }

        .video-title {}

        .video-description {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 8rem;
        }
        footer {
            background: var(--dark-green);
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            height: 3rem;
            position: absolute;
            display: grid;
            grid-template-columns: 33% 33% 33%;
            color: black;
        }
        #page-contianer {
            position: relative;
            min-height: 100vh;
        }
        #content-wrap{
            padding-bottom: 5rem; /* footer height plus a little */
        }
    </style>
</head>

<body>
<div id="page-contianer">
    <h1 id="page-title">
        Vlogbrothers Search Engine
    </h1>
    <div id="content-wrap">
        <div class="search">
            <form 
                hx-get="/videos"
                hx-swap="outerHTML"
                hx-target="#video-container"
            >
                <input type="text" name="search" placeholder="Search Vlogbrothers Youtube Channel">
                <button type="submit">
                    Search
                </button>
            </form>
        </div>
        <div class="video-container" id="video-container">
            <h2>
                Search for something like "em dash"
            </h2>
        </div>
    </div>
    <footer>
        <p style="grid-column=1;">j.dallacqua1@gmail.com</p>
        <p style="grid-column=2;">Some other text here</p>
        <p style="grid-column=3;">For Jade</p>
    </footer>
</div>
</body>
</html>
